{% extends "base.html" %}
{% block title %}
CupQ
{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
{% block body %}
 <div class="row top-space"></div>
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <img id="logo" src="{{ url_for('static', filename='logo.svg') }}" class="mx-auto d-block" height="275" width="275" alt="Responsive image">
      <form id="search-form" role="form" action="{{ url_for('search') }}" method="GET">
        <div class="input-group input-group-lg">
          <input id="search-input" type="text" class="form-control" name="q" autocomplete="off" autofocus>
          <input type="hidden" name="p" value="1">
          <input type="hidden" name="t" value="All Types">
          <input type="hidden" name="s" value="All Specialties">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button"><i class="fas fa-fw fa-search"></i></button>
          </div>
        </div>
      </form>
      <h5 id="slogan">A search engine for clinical reviews, guidelines, and RCTs.</h5>
    </div>
  </div>
{% endblock %}
