{% extends "base.html" %}
{% block title %}
Oops - CupQ
{% endblock %}
{% block body %}
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-8">
        <h1>CupQ <small>oops</small></h1>
        <p>Something went wrong. We've logged the problem and will fix it soon.</p>
        <br>
      </div>
    </div>
  </div>
{% endblock %}