{% extends "base.html" %}
{% block title %} {{ search_text }} - CupQ {% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='results.css') }}">
  <script src="{{ url_for('static', filename='results.js') }}"></script>
{% endblock %}
{% block body %}
  <div id="search-container" class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="media">
          <div class="pull-left">
            <a href="{{ url_for('index') }}">
              <img id="logo" src="{{ url_for('static', filename='logo.svg') }}" height="120" width="120" class="media-object" class="img-responsive" alt="Responsive image">
            </a>
          </div>
          <div class="media-body">
            <form id="search-form" action="{{ url_for('search') }}" method="GET">
              <div id="search-group" class="input-group">
                <input id="search-input" class="form-control" type="text" name="q" autocomplete="off" value="{{ search_text }}">
                <input type="hidden" name="p" value="1">
                <input type="hidden" name="t" value="{{ result_type }}">
                <input type="hidden" name="s" value="{{ specialty }}">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button"><i class="fas fa-fw fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="filter-container" class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ result_type }}</a>
              <div class="dropdown-menu">
                {% for option in result_type_options %}
                  {% if option == result_type %}
                    <a class="dropdown-item disabled" href="{{ url_for('search', q=search_text, p=1, t=option, s=specialty) }}">{{ option }}</a>
                  {% else %}
                    <a class="dropdown-item" href="{{ url_for('search', q=search_text, p=1, t=option, s=specialty) }}">{{ option }}</a>
                  {% endif %}
                  {% if option == 'All Types' %}
                    <div class="dropdown-divider"></div>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ specialty }}</a>
              <div class="dropdown-menu">
                {% for option in specialty_options %}
                  {% if option == specialty %}
                    <a class="dropdown-item disabled" href="{{ url_for('search', q=search_text, p=1, t=result_type, s=option) }}">{{ option }}</a>
                  {% else %}
                    <a class="dropdown-item" href="{{ url_for('search', q=search_text, p=1, t=result_type, s=option) }}">{{ option }}</a>
                  {% endif %}
                  {% if option == 'All Specialties' %}
                    <div class="dropdown-divider"></div>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          </ul>
          <hr>
        </div>
      </div>
    </div>
    <div id="article-container" class="container">
      {% if has_spellcheck_suggestion %}
        <div class="row spellcheck-suggestion-row">
          <div class="col-md-8">
            <div id="suggestion">
              <h5>Did you mean <i><a href="{{ url_for('search', q=spellcheck_suggestion, p=1, t=result_type, s=specialty) }}">{{ spellcheck_suggestion }}?</a></i></h5>
            </div>
          </div>
        </div>
      {% endif %}
      {% if result_info|length == 0 %}
        <div class="row results">
          <div class="col-md-8">
            <h5>No results found</h5>
          </div>
        </div>
      {% endif %}
      {% for result in result_info %}
        <div id="results-{{ result['index'] }}" class="row results">
          <div class="col-md-7">
            <div id="title-{{ result['index'] }}" class="title">
              <a href="{{ result['link'] }}" target="_blank">
                {{ result['title'] }}
              </a>
            </div>
            <div id="journal-{{ result['index'] }}" class="journal">
                {{ result['journal'] }}
            </div>
            <div id="date-{{ result['date'] }}" class="date">
                {{ result['date'] }}
            </div>
            <div id="abstract-{{ result['index'] }}" class="abstract">
                {{ result['abstract'] }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block footer %}
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        {% if result_info|length > 0 %}
            {% if pagination.has_links %}
              <nav id="page-links">
                <ul class="pagination justify-content-center">
                  {% if pagination.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('search', q=search_text, p=page_number-1, t=result_type, s=specialty) }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                    </li>
                  {% endif %}
                  {% for link in pagination.links %}
                    {% if link.is_current %}
                      <li class="page-item active noclick">
                    {% else %}
                      <li>
                    {% endif %}
                    <a class="page-link" href="{{ url_for('search', q=search_text, p=link.number, t=result_type, s=specialty) }}">{{ link.number }}</a></li>
                  {% endfor %}
                  {% if pagination.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('search', q=search_text, p=page_number+1, t=result_type, s=specialty) }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            {% endif %}
            </div>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
