body {
	background-color: #F7F7F7;
	visibility: hidden;
}

.img-center {
	margin-right: auto;
	margin-left: auto;
}

.top-space {
	margin-top: 2%;
}

#logo {
	visibility: hidden;
	padding-bottom: 3%;
}

#slogan {
	padding-top: 3%;
	text-align: center;
}

#search-btn {
	background-color: #2f6f9f;
	color: #F7F9FB;
}