body {
	visibility: hidden;
}

ul {
	padding-left: 20px;
}

.title {
	font-size: 18px;
	font-weight: 550;
	margin-bottom: 10px;
}

#suggestion {
	margin-bottom: 10px;
}

.journal, .date {
	font-size: 16px;
	color: #808080;
}

.date {
	margin-bottom: 10px;
}

.results {
	margin-bottom: 35px;
}

#search-container {
	margin-top: 10px;
}

#search-group {
	margin-top: 55px;
	margin-left: 26px;
}

#article-container {
	margin-left: 130px;
}

#filter-container {
	margin-left: 130px;
	margin-bottom: 10px;
}

.noclick {
	pointer-events: none;
	cursor: default;
}

#page-links {
	margin-bottom: 75px;
}

.spellcheck-suggestion-row {
	margin-bottom: 35px;
}

.dropdown-menu {
    height: auto;
    max-height: 350px;
    overflow-y: auto;
}